<hr />
<h4>{{title}}</h4>




    <form #myForm="ngForm" (submit)="onCreate(myForm)">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" required [(ngModel)]="product.product.name" id="name" name="name" />
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" required [(ngModel)]="product.product.description" id="description" name="description" />
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <input type="number" class="form-control" [(ngModel)]="product.product.price" required id="price" name="price" />
        </div>

        <div class="form-group">
            <label for="category">Categories</label>
            <select class="form-control" name="category" #device id="category" [(ngModel)]="product.product.category.categoryId" (ngModelChange)="onChangeCategory($event)" required>
                <option value="default" selected disabled>Select Category</option>
                <option *ngFor="let c of product.categories" [ngValue]="c.categoryId">{{c.name}}</option>
            </select>
        </div>
        <div class="form-group" *ngIf="showBrandSelect != false">
            <label for="brand">Brands</label>
            <select class="form-control" name="brand" id="brand" [(ngModel)]="product.product.brand.brandId" required>
                <option value="default" selected disabled>Select Brand</option>
                <option  *ngFor="let c of product.brands" [ngValue]="c.brandId">{{c.name}}</option>
            </select>
        </div>
                <input type="submit" class="btn btn-success" value="Create Product" />
          
    </form>

   

